<div class="row">
  <div class="col-md-6">
    <div>
      {{recipe.title}}
    </div>
    <div>
      Schwierigkeitsgrad: {{recipe.difficultyLevel}}
    </div>
    <div>
      <ngb-rating [rate]="recipe.rate" [readonly]="true" [max]="5"></ngb-rating>
    </div>
    <div>
      Dauer: {{recipe.preparationTimeInMin}} Minuten
    </div>
    <div>
      <app-ingredients-in-recipe-component [ingredientsInRecipes]="recipe.ingredientInRecipe"></app-ingredients-in-recipe-component>
    </div>
    <div>
      Zubereitungseinleitungen :
      <br>{{recipe.preparation}}
    </div>
    <div>
      <app-lack-ingredients [fehlendeZustaten]="fehlendeZustaten" ></app-lack-ingredients>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <img src="{{recipe.pictureUrl}}" width="250" height="250" class="img-thumbnail no-max-width">
  </div>
</div>



