<div class="row card shadow p-3 mb-5 bg-white rounded" (click)="openDialog(recipe)">
  <div class="row">
    <div class="col-md-6">
      <div>
        {{recipe.title}}
      </div>
      <div><ngb-rating [rate]="recipe.rate" [readonly]="true" [max]="5"></ngb-rating></div>
      <div>
        Dauer: {{recipe.preparationTimeInMin+recipe.cookingTimeInMin+recipe.restingTimeInMin}}
      </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="{{recipe.pictureUrl}}" width="250" height="250" class="img-thumbnail no-max-width">
    </div>
  </div>
</div>



