<div class="row card shadow p-3 mb-5 bg-white rounded" (click)="openDialog(recipe)">
  <div class="row">
    <div class="col-md-6">
      <div>
        {{recipe.title}}
      </div>
      <div>
        Schwierigkeitsgrad: {{recipe.difficultyLevel}}
      </div>
      <div><ngb-rating [rate]="recipe.rate" [readonly]="true" [max]="5"></ngb-rating></div>
      <div>
        Dauer: {{recipe.preparationTimeInMin}} Minuten
      </div>
      <div *ngIf="fehlendeZustaten.length == 0; else somethingMissing">
        Sie haben alle Zutaten
      </div>

      <ng-template #somethingMissing>
        <span matTooltip="{{fehlendeZustaten}}">{{fehlendeZustaten.length}} Zutaten fehlen</span>
      </ng-template>

    </div>
    <div class="col-md-6 text-center">
        <img src="{{recipe.pictureUrl}}" width="250" height="250" class="img-thumbnail no-max-width">
    </div>
  </div>
</div>



