/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

:root {
  --main-color: "#8aba18";
  --main-accent-color: "cc6600";
  --warning-oolor: "990000";
}
